name: Audo Bot / Pull Request Labeler

on: pull_request_target

jobs:
  auto_bot_label:
    name: auto bot labeler
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Label the PR
        uses: actions/labeler@v6
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labeler.yml
          sync-labels: true
